<script>
	var assetList = {{{assetList}}};
</script>
<div>
	<div id="react-app" class="ui grid"></div>
</div>
<script src="/lib/semantic-ui/semantic.min.js"></script>
<script src="/javascripts/build.js"></script>
